<div class="edit-game">
  <h2 class="title is-4">Edit game:</h2>

  <%= form_with(model: @game, url: game_path(@game)) do |f| %>
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title, autocomplete: 'off', class: "input" %>
    </div>

     <div class="field">
      <%= f.label :description %><br />
      <%= f.rich_text_area :description %>
    </div>

    <div class="field">
      <%= f.label :requires_turn_complete_confirmation, "Require players to verify turn is complete" %> <em class="has-text-grey-light">(Multi-machine mode)</em><br />
      <div class="select">
        <%= f.select :requires_turn_complete_confirmation, [['On', true], ['Off', false]] %>
      </div>
    </div>

    <%= f.submit "Save", class: "button is-info" %>
  <% end %>
  <br/>
  <div class="actions">
    <%= link_to "Players", game_users_path(@game), class: "button is-warning" %>
    <%= link_to "Categories", game_categories_path(@game), class: "button is-warning" %>
    <%= link_to "Play", game_path(@game), class: "button is-primary", data: { turbolinks: false } %>
  </div>
</div>
