<div class="edit-game">
  <h2 class="title is-4">Edit game:</h2>

  <%= form_with(model: @game, url: game_path(@game)) do |f| %>
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title, autocomplete: 'off', class: "input" %>
    </div>

     <div class="field">
      <%= f.label :description %><br />
      <%= f.rich_text_area :description %>
    </div>

    <div class="field">
      <%= f.label :requires_turn_complete_confirmation, "Require all players to say when the turn has been completed" %> <em class="has-text-grey-light">(Multi-machine mode)</em><br />
      <div class="select">
        <%= f.select :requires_turn_complete_confirmation, [['On', true], ['Off', false]] %>
      </div>
    </div>

    <%= f.submit "Save", class: "button is-info" %>
  <% end %>
  <hr/>
  <div class="actions">
    <%= link_to game_users_path(@game), class: "button is-warning" do %>
      <span class="icon is-small is-left">
        <i class="fas fa-users"></i>
      </span>
      <span>Players</span>
    <% end %>
    <%= link_to game_categories_path(@game), class: "button is-warning" do %>
      <span class="icon is-small is-left">
        <i class="fas fa-list"></i>
      </span>
      <span>Categories</span>
    <% end %>
    <%= link_to game_path(@game), class: "button is-primary", data: { turbolinks: false } do %>
      <span class="icon is-small is-left">
        <i class="fas fa-dice"></i>
      </span>
      <span>Play</span>
    <% end %>
  </div>

  <br/><br/>
  <hr />
  <h2 id="archive-game" class="title is-5 has-text-danger">Danger Section:<h2>
  <%= link_to("Archive game", game_path(@game), class: "button is-danger is-outlined is-small", data: { confirm: "Are you sure you want to archive the '#{@game.title}' game? This action is permanent and cannot be undone." }, method: :delete) %>
  <br/><br/>
</div>
