<div class="game-container">
  <h1 class="title is-3"><%= @game.title %></h1>
  <% if @game.description.present? %>
    <p class="game-description"><%= @game.description %></p>
    <br/>
  <% end %>
  <% if current_user.can_edit_game?(@game.id) %>
    <%= link_to(edit_game_path(@game), class: "button is-warning is-small footer-item edit-game-button") do %>
      <span class="icon is-small is-left">
        <i class="far fa-edit"></i>
      </span>
      <span>Edit</span>
    <% end %>
    <br/>
  <% end %>
  <br/>
  <p class="has-text-grey-light has-text-centered current-player">
    Current player:
    <% if @game.requires_turn_complete_confirmation? %>
      <% if (@game.current_player || @game.next_player) == current_user %>
        <strong class="has-text-primary">you!</strong>
      <% else %>
        <%= (@game.current_player || @game.next_player).name %>
      <% end %>
    <% else %>
      <%= (@game.current_player || @game.next_player).name %>
    <% end %>
  </p>
  <hr/>
  <div class="game-play-container">
    <% if @this_turn %>
      <%= render(template: 'games/_game_play_selections', locals: { this_turn: @this_turn }) %>
    <% else %>
      <p class="has-text-info">Looks like your game is ready to start!</p>
      <% if @game.requires_turn_complete_confirmation? %>
        <% if current_user == @game.next_player %>
          <p class="has-text-info">Since it's your turn, you may press "Go" to begin.</p>
        <% else %>
          <p class="has-text-info">Once the game begins, you will see the confirmation button below light up.</p>
        <% end %>
      <% else %>
        <p class="has-text-info">The first player may press "Go" to begin.</p>
      <% end %>
    <% end %>
  </div>
  <hr/>
  <div class="game-footer">
    <% if @game.requires_turn_complete_confirmation? %>
      <%= render(template: 'games/_game_footer_buttons', locals: { this_turn: @this_turn, game: @game }) %>
    <% else %>
      <%= link_to(play_game_path(@game), class: "button is-primary footer-item", remote: true) do %>
        <span class="icon is-small is-left">
          <i class="fas fa-dice"></i>
        </span>
        <span>Go!</span>
      <% end %>
    <% end %>
  </div>
</div>
