<div class="game-container">
  <h1 class="title is-3"><%= @game.title %></h1>
  <p class="game-description"><%= @game.description %></p>
  <% if current_user.can_edit_game?(@game.id) %>
    <br/>
    <%= link_to("Edit game", edit_game_path(@game), class: "button is-warning is-small footer-item") %>
  <% end %>
  <hr/>
  <div class="game-play-container">
    <% if @this_turn %>
      <%= render(template: 'games/_game_play_selections', locals: { this_turn: @this_turn }) %>
    <% else %>
      <p class="has-text-info">Looks like your game is ready to play!</p>
      <p class="has-text-info">Press "Go" to begin.</p>
    <% end %>
  </div>
  <hr/>
  <div class="game-footer">
    <% if @this_turn && @this_turn.completed? %>
      <% if current_user == @game.next_player %>
        <%= link_to("Go!", play_game_path(@game), class: "button is-primary footer-item", remote: true) %>
      <% elsif current_user == @game.current_player %>
        <div class="title is-4 has-text-success footer-item your-turn">Turn completed!</div>
      <% else %>
        <button class="button is-success footer-item" disabled>Confirm action completed</button>
      <% end %>
    <% elsif @this_turn %>
      <% if current_user == @game.current_player %>
        <div class="title is-4 has-text-primary footer-item your-turn">Your turn!</div>
      <% elsif current_user.has_confirmed(@this_turn) %>
        <button class="button is-success footer-item" disabled>Confirm action completed</button>
      <% else %>
        <%= link_to("Confirm action completed", confirm_action_completed_path(@game), class: "button is-success footer-item", remote: true, method: :post) %>
      <% end %>
    <% end %>
  </div>
</div>
