<div class="edit-game-users">
  <h2 class="title is-4">Edit player settings:<h2>

  <p>
    <span class="has-text-grey-light">Game: </span>
    <%= @user_game.game.title %>
  </p>
  <p>
    <span class="has-text-grey-light">User: </span>
    <%= @user_game.user.name %>
  </p>
  <br/>
  <%= form_with(model: @user_game, url: game_user_game_path(@game, @user_game)) do |f| %>
    <div class="field">
      <%= f.label :order %><br />
      <div class="select">
        <%= f.select :order, 1..@game.users.size %>
      </div>
    </div>

    <% unless @user_game.user == current_user %>
      <div class="field">
        <%= f.label "Game role" %><br />
        <div class="select">
          <%= f.select :role, UserGame::USER_GAME_ROLES %>
        </div>
      </div>
    <% end %>

    <%= f.submit "Update", class: "button is-info" %>

    <br/><br/>

    <div class="actions">
      <%= link_to "Back", game_users_path(@game), class: "button is-light" %>
      <%= link_to game_path(@game), class: "button is-primary", data: { turbolinks: false } do %>
        <span class="icon is-small is-left">
          <i class="fas fa-dice"></i>
        </span>
        <span>Play</span>
      <% end %>
    </div>
  <% end %>
</div>
