<div class="edit-game">
  <h2 class="title is-4">Edit category:</h2>

  <%= form_with(model: @category, url: game_category_path(@game, @category)) do |f| %>
     <div class="field">
      <%= f.label :title %>&nbsp;<em class="has-text-grey-light">(100 characters max)</em><br />
      <%= f.text_field :title, maxlength: 100, autocomplete: 'off', class: "input"  %>
    </div>

    <div class="field">
      <%= f.label :order %><br />
      <div class="select">
        <%= f.select :order, 1..4 %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Save", class: "button is-info" %>
    </div>
  <% end %>

  <br/>
  <h2 class="title is-4">Category options:</h2>
  <ul class="options"><%= render(@category.options) %></ul>
  <p class="has-text-info no-options-message is-hidden">There are no options for this category yet!</p>
  <br/>

  <h2 class="title is-4 new-option-title">Add a new option:</h2>
  <%= form_with(model: @option, url: game_category_options_path(@game, @category), remote: true, class: "new-option-form") do |f| %>
      <%= f.text_field :description, placeholder: "Description...", maxlength: 500, autocomplete: 'off', class: "input"  %>
      <%= f.submit "Create", class: "button is-info" %>
  <% end %>
  <p><em class="has-text-grey-light">(500 characters max)</em></p>
  <br/><br/><br/>
  <div class="actions">
    <%= link_to "Back", game_categories_path(@game), class: "button is-dark" %>
    <%= link_to "Play", game_path(@game), class: "button is-primary" %>
  </div>
</div>

<% if @category.options.size == 0 %>
  <script>document.querySelector(".no-options-message").classList.remove("is-hidden");</script>
<% end %>
